/**
 * `cbn-form-group` component styling definitions.
 */

:host {
	display: block;
}

#container {
	padding: 10px;
	margin: 10px;
}

#content.preview #nonpreviewable {
	display: none;
}

.caption {
	font-size: 1.5em;
	color: #333;
	margin-bottom: 15px;
}
