/**
 * Default styles for the `cbn-basic-input` and related components.
 */

:host {
	display: inline-block;
}

label {
	display: block;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}

/* Label on top of the input */
label > span {
	display: block;
	margin: 0.2em 0 0.4em 0;
}

::content input, ::content textarea {
	width: 100% !important;
}


/* Invalid input styles */

:host([invalid]) ::content input, 
:host([invalid]) ::content textarea,
:host([invalid]) ::content [is-form-input] {
	border-color: #D77;
}

span.error {
	display: block;
	color: #900;
	padding-bottom: 5px;
}
span.error.hidden {
	display: none;
}
